NODE_ENV=development|sandbox|staging|production
PORT=

POSTGRES_VIDEO_CONNECTION=postgres
POSTGRES_VIDEO_HOST=
POSTGRES_VIDEO_PORT=5432
POSTGRES_VIDEO_USER=
POSTGRES_VIDEO_PASSWORD=
POSTGRES_VIDEO_SCHEMA=video
POSTGRES_VIDEO_DB=video

POSTGRES_IMAGE_CONNECTION=postgres
POSTGRES_IMAGE_HOST=
POSTGRES_IMAGE_USER=
POSTGRES_IMAGE_PASSWORD=
POSTGRES_IMAGE_PORT=5432
POSTGRES_IMAGE_SCHEMA=image
POSTGRES_IMAGE_DB=image

POSTGRES_FILE_CONNECTION=postgres
POSTGRES_FILE_HOST=
POSTGRES_FILE_USER=
POSTGRES_FILE_PASSWORD=
POSTGRES_FILE_PORT=5432
POSTGRES_FILE_SCHEMA=file
POSTGRES_FILE_DB=file

POSTGRES_POOL_MIN=1
POSTGRES_POOL_MAX=1
POSTGRES_POOL_IDLE=1


# MinIO (S3-compatible object storage)
MINIO_ENDPOINT=http://minio:9000
MINIO_REGION=us-east-1
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_VIDEOS_BUCKET=videos
MINIO_IMAGES_BUCKET=images
MINIO_FILES_BUCKET=files
MINIO_EKYC_BUCKET=ekyc

SWAGGER_ENABLE=true
SWAGGER_API_BASE_PATH=/v1/upload

KAFKA_CLIENT_ID=
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_CONSUMER_GROUP_ID=
KAFKA_SASL_MECHANISMS=plain|scram-sha-256|scram-sha-512|aws
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
KAFKA_ENV=
KAFKA_SSL_CERT=
KAFKA_SSL_KEY=
KAFKA_SSL_CA=

VIMEO_CLIENT_ID=
VIMEO_CLIENT_SECRET=
VIMEO_ACCESS_TOKEN=

HLS_PREFIX_URL=https://""m.com/...

# Cognito
AWS_COGNITO_REGION=ap-southeast-1
AWS_COGNITO_POOL_ID=

MAX_VIDEO_SIZE_IN_MB=100
MAX_FILE_SIZE_IN_MB=100

TEMP_PATH=/tmp

HEALTH_CHECK_STORAGE_THRESHOLD_PERCENT=0.95
HEALTH_CHECK_STORAGE_THRESHOLD_IN_BYTE=1073741824 // 1GB


REDIS_ENV=develop
REDIS_HOST=
REDIS_SSL=true
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_DB=

AWS_S3_SQS_RESIZE_IMAGE_QUEUE_URL=https://sqs.ap-southeast-1.amazonaws.com/296763675441/...
IMAGE_PROXY_URL=http://image_proxy:8080

IMAGE_CDN_URL=https://d1ujt9olr9xitn.cloudfront.net
USER_SERVICE_URL=http://user-service

IMAGE_ANIMATION_LIMIT_IN_MB=5
IMAGE_ANIMATION_MAX_RESOLUTION_IN_MEGAPIXELS=1
IMAGE_MAX_ANIMATION_FRAMES=100

IMAGE_MAX_RESOLUTION_IN_MEGAPIXELS=135

# REDIS CACHE STANDALONE (NOT USE NOW)
REDIS_CACHE_CLUSTER_NODES=
REDIS_CACHE_HOST=
REDIS_CACHE_PORT=
REDIS_CACHE_USERNAME=
REDIS_CACHE_PASSWORD=
REDIS_CACHE_TLS=
REDIS_CACHE_PREFIX=

# REDIS SHARED STORE
REDIS_SHARED_STORE_CLUSTER_NODES=
REDIS_SHARED_STORE_HOST=
REDIS_SHARED_STORE_PORT=
REDIS_SHARED_STORE_USERNAME=
REDIS_SHARED_STORE_PASSWORD=
REDIS_SHARED_STORE_TLS=
REDIS_SHARED_STORE_PREFIX=