NODE_ENV=development|sandbox|staging|production
PORT=

POSTGRES_CONNECTION=postgres
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SCHEMA=public
POSTGRES_DB=
POSTGRES_POOL_MIN=1
POSTGRES_POOL_MAX=5
POSTGRES_POOL_IDLE=10000

MINIO_ENDPOINT=http://minio:9000
MINIO_REGION=us-east-1
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_VIDEOS_BUCKET=videos
MINIO_IMAGES_BUCKET=images
MINIO_FILES_BUCKET=files
MINIO_EKYC_BUCKET=ekyc

SWAGGER_ENABLE=true
SWAGGER_API_BASE_PATH=/v1/upload

KAFKA_CLIENT_ID=
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_CONSUMER_GROUP_ID=
KAFKA_SASL_MECHANISMS=plain|scram-sha-256|scram-sha-512|aws
KAFKA_SASL_USERNAME=
KAFKA_SASL_PASSWORD=
KAFKA_ENV=
KAFKA_SSL_CERT=
KAFKA_SSL_KEY=
KAFKA_SSL_CA=

VIMEO_CLIENT_ID=
VIMEO_CLIENT_SECRET=
VIMEO_ACCESS_TOKEN=

HLS_PREFIX_URL=https://""m.com/...
AWS_COGNITO_REGION=ap-southeast-1
AWS_COGNITO_POOL_ID=
MAX_VIDEO_SIZE_IN_MB=100
MAX_FILE_SIZE_IN_MB=100

TEMP_PATH=/tmp

HEALTH_CHECK_STORAGE_THRESHOLD_PERCENT=0.95
HEALTH_CHECK_STORAGE_THRESHOLD_IN_BYTE=1073741824 // 1GB

AWS_S3_SQS_RESIZE_IMAGE_QUEUE_URL=https://sqs.ap-southeast-1.amazonaws.com/296763675441/...
IMAGE_PROXY_URL=http://image_proxy:8080
IMAGE_CDN_URL=https://d1ujt9olr9xitn.cloudfront.net
USER_SERVICE_URL=http://user-service

IMAGE_ANIMATION_LIMIT_IN_MB=5
IMAGE_ANIMATION_MAX_RESOLUTION_IN_MEGAPIXELS=1
IMAGE_MAX_ANIMATION_FRAMES=100
IMAGE_MAX_RESOLUTION_IN_MEGAPIXELS=135

REDIS_CACHE_CLUSTER_NODES=
REDIS_CACHE_HOST=
REDIS_CACHE_PORT=
REDIS_CACHE_USERNAME=
REDIS_CACHE_PASSWORD=
REDIS_CACHE_TLS=
REDIS_CACHE_PREFIX=